<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/cities.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/cities.js"></script>
    <script type="text/javascript" src="../js/apis.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <link rel="import" href="../bower_components/paper-button/paper-button.html"/>
    <link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
    <link rel="import" href="../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    
  </head>
  <body ng-app="scroll" ng-controller="cityController" class="ng-scope">
    <div id="header" ng-include src="'header.html'"></div>
    <title>{{data.title}}</title>
    <div>
      <div class="content" id="scrolled" when-scrolled="loadMore()">
        <div class="search-items">
          <paper-input label="Search" ng-keyup="serachEnterPressed($event)"></paper-input>

          <paper-button id="search-button" ng-click="startSearch(searchWord)" raised noink>Search</paper-button>
        </div>
        <div id="cities">
          <div class="city-div" ng-repeat="i in cities">
            <paper-shadow z="1">

              <img class="city-img" src="{{i.photo}}"/>
              <paper-item>
                <div class="city-name"><a href="city.html?cityId={{i.id}}">{{i.name}}</a></div>
              </paper-item>
            
            </paper-shadow>
          </div>
        </div>
        <div ng-show="busy">Loading...</div>
        <div ng-show="error.showError">{{error.errorMessage}}</div>
        <div ng-show="cities.length == 0">No cities</div>
        
      </div>
    </div>
  </body>
</html>
