<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/quest.css"/>
    
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/quest.js"></script>
    <script type="text/javascript" src="../js/apis.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <link rel="import" href="../bower_components/paper-button/paper-button.html"/>
    <link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
    <link rel="import" href="../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
    
    <title>Question</title>
  </head>
  <body class="ng-scope" ng-app="questApp" ng-controller="questController">
    <div id="header" ng-include src="'header.html'"></div>
    <div>
      <div class="content">
        <div id="quest-info">
          <paper-shadow class="quest-shadow item">
          	<div class="quest-header">{{question.header}}</div>
          	<div class="quest-text">{{question.text}}</div>
          	<div class="user-name"><a href="guide.html?guideId={{question.user.id}}">{{question.user.firstName}} {{question.user.lastName}}</a></div>
          	<div class="city-name"><a href="city.html?cityId={{question.city.id}}">{{question.city.name}}</a></div>
          </paper-shadow>

        <div id="answers">
          <div class="answer-div" ng-repeat="i in question.answers">
            <paper-shadow class="answer-shadow item">
            	<div class="answer-text">{{i.text}}</div>
            	<div class="user-name"><a href="guide.html?guideId={{i.user.id}}">{{i.user.firstName}} {{i.user.lastName}}</a></div>
            </paper-shadow>
          </div>
        </div>

        <div id="user-answer" ng-show="data.loggined">
    		<textarea rows="4" id="user-answer-text" placeholer="Input your answer."></textarea>
        	<paper-button id="answer-submit-btn" ng-click="submitAnswer()">Submit</paper-button>
        </div>


        </div>
      </div>
    </div>
  </div>
</body>
</html>